<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rbcodebase.app"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
       <meta-data
         android:name="com.google.android.geo.API_KEY"
         android:value="AIzaSyBIRme_U5hNP98ZuO99qSVmo6O0oCCcj_E"/>
         <meta-data
           android:name="com.facebook.sdk.ApplicationId"
           android:value="@string/facebook_app_id"/>
        <!--RBCodebase Fabric-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cb67fe1b74fd28626b9d3d1ce0269fabe56e79b3" />
        <!--Rangga Fabric-->
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="e1232530188ae01bced5bddef09e5291b3e5a406" />-->
    </application>

</manifest>
